#  Introduction to Python for Data Science - Exercises 11/9  #

The following are exercises for the Introduction to Python for Data Science course, module 1. Try to get through as many as you can, but do not despair if you cannot get through them all within the time frame.

## Part 1: variables and operators

### Exercise 1: Hello World! ###

In the codebox below, write a Python program that prints out "Hello World!"

In [1]:
print("Hello World!")

Hello World!

### Exercise 2: Simple Calculator ###
Use Python as a simple calculator. You do **not** need to create a calculator with python! Just make the computations directly with python and print their results. Try addition, multiplication, subtraction, division and exponation.<br>
E.g. 4+5, 2*7, etc.<br>
Also try float division ' / '  and integer division ' // '

In [8]:
print(2 + 3)
print(2 * 3)
print(2 - 3)
print(2 / 3) #Float division
print(2 // 3) #Integer division
print(2 ** 3)

5
6
-1
0.6666666666666666
0
8

### Exercise 3: Variable calculator
Try the same as in Ex2, but assign the numbers first to a variable and then perform the calculaton on the variables

In [1]:
a = 5
b = 23

print(a + b)
print(a / b)

28
0.21739130434782608

### Exercise 4: String manipulation
Create 3 different strings and then concatenate them together. In the end just print the string from the the start of the second original string.

In [6]:
fs = 'Home'
ss = 'sweet'
ts = 'home'
res = fs + ss +ts
print(res)
print(res[len(fs):])
# or as seen in lecture part
print(list(res)[len(fs):])

Homesweethome
sweethome
['s', 'w', 'e', 'e', 't', 'h', 'o', 'm', 'e']

### Exercise 5: String formatting
Create a template string with formatting, in which you introduce yourself and how old you are.<br>
template being 'Hi, my name is [name] and I am [age] years old' E.g. 'Hi, my name is Maximilian and I am 26 years old'

In [8]:
template = 'Hi, my name is {0:s} and I am {1:d} years old'
print(template.format('Maximilian', 26))

Hi, my name is Maximilian and I am 26 years old

### Exercise 6: Boolean operations
With two variables 'a' and 'b', print all combinations of True and False with the 'and' and 'or' <br>
After you have done that, try more variables and even more operators, get comfortable with boolean operations!

In [3]:
a = True
b = False

print(a and b)
print(a and a)
print(b and b)

print(a or b)
print(a or a)
print(b or b)

# You can even make bigger things
print((not (a and b)) and (not (not a and not b))) # XOR, so True if only a or b are true

False
True
False
True
True
False
True
True

### Exercise 7: Comparisons
Make some variables and compare if they are the same, lower, higher, same type

In [5]:
ph = 7.5

threshold = 8

print(ph > threshold)

print(type(ph))
print(type(threshold))
print(type(ph)==type(threshold))

False
<class 'float'>
<class 'int'>
False

## Part 2: Control statements

### Exercise 8: Magic spell ###
Write a program that takes an integer n as input, and prints "Abracadabra" n times.

In [11]:
n = int(input())
### YOUR CODE HERE ###
for i in range(n):
    print("Abracadabra")
### YOUR CODE HERE ###

7
Abracadabra
Abracadabra
Abracadabra
Abracadabra
Abracadabra
Abracadabra
Abracadabra

### Exercise 9: Grading
Write code that returns a:<br>
- 12 if the points between 100 and 90
- 10 if the points between 89 and 80
- 7  if the points between 79 and 70
- 4  if the points between 69 and 60
- 02 if the points between 59 and 50
- 0  if the points between 49 and 40
- -3 if the points between 39 and 0

In [4]:
points = 27

if points < 40: 
    print('-3')
elif points < 50: 
    print('0')
elif points < 60: 
    print('02')
elif points < 70: 
    print('4')
elif points < 80: 
    print('7')
elif points < 90: 
    print('10')
else: 
    print('12')

-3

### Exercise 10: Fizzbuzz ###
Write a program that plays the game FizzBuzz - print the numbers from 1 to 20, but replace numbers divisible by 3 with "Fizz", numbers divisible by 5 with "Buzz", and if the number is divisible by both 3 and 5, replace it with "FizzBuzz".

Hint: Use the modulo operator % to test divisibility.

In [17]:
for i in range(1,21):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz

## Part 3: Collections

### Exercise 11: Modify list
Create a list with the 5 elements 'dwarf, elf, human, giant, pixie' inside and then append 2 other elements 'centaur, goblin' to that list

In [11]:
lis = ['dwarf','elf','human','giant','pixie']
lis.append('centaur')
lis.append('goblin')
print(lis)

['dwarf', 'elf', 'human', 'giant', 'pixie', 'centaur', 'goblin']

### Exercise 12: Check list
Check if 'dragon' is in the list or if it is not in the list from Ex10

In [14]:
drag ='dragon'
print(drag in lis)
print(drag is not lis)

True

### Exercise 13: Albums ###
Sort the following list of albums in alphabetical order:

In [10]:
albums = ["In The Court of the Crimson King","Lizard", "Larks' Tongues in Aspic", "Red", "Discipline"]

### YOUR CODE HERE ###
sorted_albums = sorted(albums)
print(sorted_albums)

['Discipline', 'In The Court of the Crimson King', "Larks' Tongues in Aspic", 'Lizard', 'Red']

These albums were released in 1969, 1970, 1973, 1974 and 1981, respectively. Create a dictionary with release year as keys, and album titles as values. Print the album corresponding to 1970 to check your answer.

In [11]:
albums_by_year = {1969: "In The Court of the Crimson King", 
                  1970: "Lizard", 
                  1973: "Larks' Tongues in Aspic", 
                  1974: "Red", 
                  1981: "Discipline"}
print(albums_by_year[1970])

# Or to create a dict automatically from two lists, IF the ordering is the same!
albums = ["In The Court of the Crimson King","Lizard", "Larks' Tongues in Aspic", "Red", "Discipline"]
years = [1969, 1970, 1973, 1974, 1981]

alb_years = dict()

for i in range(len(years)):
    alb_years[years[i]] = albums[i]
print(alb_years)

Lizard

### Exercise 14: Dogs Dinner ###

Write a program that takes two strings as input. Swap the first two characters of the two strings, and print the result.

Ex: "dogs", "dinner" $\rightarrow$ "digs donner"

In [21]:
a = input()
b = input()
c = b[:2] + a[2:]
d = a[:2] + b[2:]
print(c + " " + d)

dogs
dinner
digs donner

### Exercise 15: Set operations
Give the intersection, union and difference between the two sets of class points

In [ ]:
class_1 = {3,9,20,23,28,30,10,17,19}
class_2 = {1,5,14,10,22,8,19,12,23,20,2}

res = class_1.intersection(class_2)
print(res)

res = class_1.union(class_2)
print(res)

test_set1 = {"maximilian"}
test_set2 = {"Maximilian"}
print(test_set1.intersection(test_set2))

### Exercise 17: Enumerate and Zip
Make two lists and then zip them together and use enumerate on both lists seperatly

In [16]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

for index, a in enumerate(seq1):
    print(f"{index}: {a}")

for index, a in enumerate(seq2):
    print(f"{index}: {a}")

0: foo
1: bar
2: baz
0: one
1: two
2: three

## Part 4: Functions, error handling

### Exercise 18: List Product ###
You can use the Python function sum() to add all elements of a list together. Write a similar function that multiplies all elements of a list together. Test your function on the below list

In [19]:
my_list = [3, 4, 7, 10, 2, 4, 5]

### YOUR CODE HERE ###

def prod(lst):
    res = 1
    for i in lst:
        res = res*i
    return res

print(prod(my_list))

33600

### Exercise 19: Greeting function
Write a function, that takes a name as an input and then greets that person with a nice message

In [19]:
def greeting(name):
    print(f'Hello {name}, very nice to meet you. You have my axe!')

greeting('Frodo')

Hello Frodo, very nice to meet you. You have my axe

### Exercise 20: Shapes
Write a function, that takes two inputs. The first determines the number of layers it has and the second deciding the shape (triangle or square) made out of '*'.
<br>
E.g. input '3, square':<br><br>
***<br>
***<br>
***<br><br>
or <br><br>
input '4, triangle':<br><br>
*<br>
**<br>
***<br>
****<br>

In [24]:
def shape(n, sh):
    if sh == 'triangle':
        for i in range(n):
            print('*'*(i+1))
    if sh == 'square':
        for i in range(n):
            print('*'*n)

shape(2, 'triangle')
shape(5, 'square')

*
**
*****
*****
*****
*****
*****

### Exercise 21: Division by Zero ###
The below codebox crashes. Use try/except to rewrite the division function to handle the exception and print "Division by zero" instead

In [41]:
def division(n, d):
    return n/d

def division(n, d):
    try:
        return n/d
    except ZeroDivisionError:
        print("Division by Zero")

division(1, 0)

Division by Zero

### Exercise 22: Write and Run a Python File ###
Write a python file "my_file", in which you import the function foo from util.py. Use this function on the string "foo" and print the result. Any text-editing tool works, but if you want, you can try the [PyCharm IDE](https://www.jetbrains.com/pycharm/) which most python programmers use.

Run the python file in the command line by typing "python my_file.py" (if you get an error, try "python3 my_file.py"

In [6]:
# The code from the python file would look like:

import util

util.foo("Test")

'Testbar'