# Introduction to Python for Data Science - Handin #

## YOUR NAME HERE ##

This handin is indiviual and mandatory to pass the course. All exercises must be completed.

Hand in this .ipynb file, no later than 29/9 at 23:59.

In [2]:
# Do not touch!
import numpy as np
import pandas as pd

# Exercise 1: The Iris Dataset
The [iris dataset](https://archive.ics.uci.edu/ml/datasets/iris) is a very popular data set for teaching data science. It contains 3 classes of iris flowers, with 50 instances each. In this handin, we will use a modified version of the data set.

### Part 1 ### 
Import the modified iris dataset. It is located in the "data" folder as $\texttt{iris.csv}$.

### Part 2 ###
Change the names in the Class column from Iris-setosa, Iris-versicolour and Iris-virginica to setosa, versicolour, virginica.

### Part 3
Remove all rows with NaN values from the Data Frame.

### Part 4
Some of the float values in the first four columns have a "\n", so python reads the columns as strings. Remove the newlines from the Data Frame

### Part 5
Now with the newlines gone, convert the string values in the first four columns to float

### Part 6 ###
Make a scatter plot of the data, with Sepal length as the x-axis and sepal width as y-axis. The points should have one of three colours, depending on class.

Make a scatter plot with petal length as x-axis and petal width as y-axis. Can we determine the kind of iris flower based on petal and sepal measurements? (Write 1-2 lines of reflection)

##### YOUR ANSWER HERE (1-2 lines) #####

### Part 7 ###
Find the correlation between petal length and width, and the correlation between sepal length and width.

# Exercise 2: Pokemon
Here we apply data analysis on Pokemon

### Part 1
Import the dataset

### Part 2
Select only the Pokemon with Type_1 being "Fire" and "Ice" and then drop Generation, Legendary, Type1, Type2 and the ids (stored with the name '#')

### Part 3
Compute the correlation between Total and HP, as well as between Attack and Speed.
Try to visualise the correlations.