#  Introduction to Python for Data Science - Exercises 14/9 #

The following are exercises for the Introduction to Python for Data Science course, module 2. Try to get through as many as you can, but do not despair if you cannot get through them all within the time frame.

## Part 1: Numpy

### Exercise 1 ###
Make sure you have numpy, pandas and matplotlib installed. Import them in the below codebox to be used in the rest of the notebook

### Exercise 2: Random 2D Points ###
Use Numpy to generate 20 random points in 2D

Use numpy to find the mean and standard deviation of the points

### Exercise 3: Arrays
Create a two dimensional numpy array, then print number of dimensions, the shape and the number of elements

### Exercise 4: Elementwise operations
In an numpy array (you can just reuse from previous exercise), take the square root of each element, take it as the exponent and multiply them by a constant number

### Exercise 5: Matrix
Create two matrices and then compute the dotwise product (be aware of the matrix shapes)

### Exercise 6: Search
Check with numpy for all unique places, and then pick one and print the array with boolean values if it matches your choice or it doesn't

In [5]:
places = np.array(["Aarhus", "Copenhagen", "Aalborg", "Aarhus", "Odense", "Aalborg", "Aarhus"])

### Exercise 7: Indexing
Use both the matching and the negation of the fitting place names from last exercise as an index for the random array in this exercise

In [11]:
data = np.random.rand(7,2)

[[0.21533991 0.32040005]
 [0.52421668 0.03976608]
 [0.34500988 0.85131779]]

## Part 2: Pandas

### Exercise 8: The Pokemon Dataset ###

##### Task 1
Use pandas to load the dataset Pokemon.csv. Output the first 10 rows of the dataset.

##### Task 2

Find all legendary pokemons in the data set

##### Task 3

Find the minimum, maximum and average Speed

##### Task 4

Compare the mean HP of the different primary types

##### Task 5

Some Pokemons have no secondary type. We don't want NaN in our DataFrame (it may give nasty errors!) so replace these instances with "NA" (Not Applicable).

##### Task 6
Rename the 'Speed' column to 'movement'

### Exercise 9: Merging two DataFrames ###
Below are two DataFrames of albums. Merge them into one DataFrame, that has two coloumns: "name" and "year".

In [ ]:
floyd_albums = pd.DataFrame({
    "album": ["Atom Heart Mother", "The Dark Side of the Moon", "Wish You Were Here", "The Wall"],
    "year": [1970,1973,1975,1979]
})

crimson_albums = pd.DataFrame({
    "name": ["In The Court of the Crimson King","Lizard", "Larks' Tongues in Aspic", "Red", "Discipline"], 
    "released": [1969, 1970, 1973, 1974, 1981]
})

### YOUR CODE HERE ###

## Part 3: Matplotlib

### Exercise 10: Random 2D Points ###
Use Numpy to generate 20 random points in 2D, and plot them using matplotlib

### Exercise 11: Plot Pokemeon
Make a bar plot of the number of pokemons in each generation

### Exercise 12: Plot Albums
Create a pie chart of the amount of albums released per year from exercise 9

### Exercise 13: Wine Dataset
First run the code below, then print a plot of the points with the 'sulphates' and 'alcohol' columns. Color the two different qualities 4 and 8 differently

In [21]:
wq = pd.read_csv("../data/winequality-red.csv", sep=';')
toy = wq[wq['quality'].isin([4, 8])].sample(n=20)

### Exercise 14: Design

##### Task 1
Write a code to plot the given two lines with different styles.

In [27]:
# line 1 points
x1 = [10,20,30]
y1 = [20,40,10]
# line 2 points
x2 = [10,20,30]
y2 = [40,10,30]

##### Task 2
Write a code to plot the given two lines with different styles and set the markers, then plot also just the markers

##### Task 3
Add labels descriptions to the two lines and a title for the plot

##### Task 4
Give the plot a grid

### Exercise 15: Flags with matplot
The code below calculates an outer product that, when plottet, resembles the Danish flag. Find two vectors which outer product resembles the Austrian flag

In [ ]:
v = np.array([1.0, 1.0, 0.0, 1.0, 1.0])
w = np.array([1.0, 1.0, 0.0, 1.0, 1.0, 1.0])
plt.matshow(np.outer(v, w), cmap='Reds', clim=(0, 1.5))